{% extends 'base.html' %}
{% load bootstrap4 %}

{% block page_title %}
    <div class="row pl-3 py-2">
        <h4 class="pr-2">Log In</h4>
    </div>
{% endblock %}

{% block content %}
    <form class="form mt-2" action="./?continue={{ redirect_reference }}" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button  type="submit" class="btn btn-success">Login</button>
        {% endbuttons %}
    </form>
    <div class="my-2">
        <a href="{% url 'signup' %}">Create new account</a>
    </div>

{% endblock %}