{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}

    {% include 'inc/head_question.html' %}

    {% for ans in question.all_answers %}
        {% include 'inc/answer.html' with answer=ans question=question%}
    {% endfor %}

    <hr>
    {% if request.user.is_authenticated %}
        <form class="form mt-2" action="{% url 'answer' qid=question.pk %}?continue={{ request.path }}" method="POST"
              novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-success">Submit!</button>
            {% endbuttons %}
        </form>
    {% else %}
        <div class="nav-item nav-link">
            <a class="p-1" href="{% url 'login' %}?continue={{ request.path }}">Log in</a>
            <span> or </span>
            <a class="p-1" href="{% url 'signup' %}">Register</a>
            <span> to answer it </span>
        </div>
    {% endif %}

{% endblock %}