{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block page_title %}
    <div class="row pl-3 py-2">
        <h4 class="pb-2">Settings: {{ request.user.profile.nickname }}</h4>
    </div>
{% endblock %}

{% block content %}

    <form class="form mt-2" enctype="multipart/form-data" action="{% url 'profile_edit' %}" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button  type="submit" class="btn btn-success">Save</button>
        {% endbuttons %}
    </form>

{% endblock %}