{% extends 'base.html' %}
{% load bootstrap4 %}


{% block page_title %}
    <div class="row pl-3 py-2">
        <h4 class="pb-2">Sign Up</h4>
    </div>
{% endblock %}

{% block content %}

    <form class="form mt-2" enctype="multipart/form-data" action="{% url 'signup' %}?continue={{ redirect_reference }}" method="POST" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button  type="submit" class="btn btn-success">Register!</button>
        {% endbuttons %}
    </form>

{% endblock %}