{% load static %}
<div class="row rounded border-bottom overflow-hidden flex-md-row mb-3 h-md-250 position-relative">

    <div class="d-flex flex-column align-content-center col-md-3 p-4">
        <div class="d-flex flex-column align-content-center m-1">
            <img class="align-content-center rounded" width="128" height="128" src="{% static 'img/switzerland.jpg' %}">
        </div>
        {% include 'inc/like_bar.html' %}

    </div>


    <div class="col-md-9 py-4 pl-2 d-flex flex-column position-static">
        <h3 class="mb-0">{{ question.title }}</h3>
        <p class="card-text mb-auto">Lorem inpsum - dolor sit amet, consectetuer adipisicking elit, sed
            diam
            nonummy nibh eusimod tincidunt ut laureet dlore magna aliquam erat bolub. Ut wie enindm ad
            minim vieion, uena suwurjd exexri tation ullamcorper susipit loborits biskl ut alkuqueo ex
            ea
            commoso cuoesukd
        </p>

        <div class="row p-3">
            <p class="pt-1 pr-1">Tags:</p>
            <a class="pt-1 pr-1" href="#">black-jack</a>
            <a class="pt-1 pr-1" href="#">bender</a>
        </div>

    </div>
</div>
