{% load static %}

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">

    <div class="d-flex flex-column col-md-2 p-4">
        <div class="d-flex flex-column align-content-center m-1">
            <img class="align-content-center rounded" width="64" height="64"
                 src="{% static 'img/switzerland.jpg' %}">
        </div>
        {% include 'inc/like_bar.html' %}

    </div>

    <div class="col-md-10 py-4 pl-2 d-flex flex-column position-static">
        <h3 class="mb-0">

            <a class="text-decoration-none text-dark"
               href="{% url 'question' qid=question.id %}">{{ question.title }}</a>

        </h3>

        <p class="card-text mb-auto">Guys, I have trouble with a moon park. Can't find the
            black-jack</p>

        <div class="row p-3">
            <a class="pt-1 pr-3" href="{% url 'question' qid=question.id %}">answer(2)</a>
            <p class="pt-1 pr-1">Tags:</p>
            <a class="pt-1 pr-1" href="#">black-jack</a>
            <a class="pt-1 pr-1" href="#">bender</a>
        </div>

    </div>
</div>
