{% load static %}

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative">

    <div class="d-flex flex-column col-md-2 p-4">
        <div class="d-flex flex-column align-content-center m-1">
            {% if question.author.avatar %}
                <img class="align-content-center rounded" width="64" height="64" src="{{ question.author.avatar }}">
            {% else %}
                <img class="align-content-center rounded" width="64" height="64" src="{% static 'img/avatar.png' %}">
            {% endif %}
        </div>
        {% include 'inc/like_bar.html' with question=question %}

    </div>

    <div class="col-md-10 py-4 pl-2 d-flex flex-column position-static">
        <h3 class="mb-0">

            <a class="text-decoration-none text-dark"
               href="{% url 'question' qid=question.id %}">{{ question.title }}</a>

        </h3>

        <p class="card-text mb-auto">{{ question.description }} </p>
        <a class="pt-1" href="{% url 'question' qid=question.id %}">answers({{ question.num_of_answers }})</a>
        <p class="pt-1 pr-1">Tags:</p>
        <div class="p-1 mb-1 rounded">
            {% for t in question.all_tags %}
                <a class="pt-1 pr-1 badge badge-primary" href="{% url 'tag' tid=t.id %}">{{ t.tag_name }}</a>
            {% endfor %}
        </div>
    </div>
</div>
