<div class="p-3 mb-3 rounded">
    <h4>Popular Tags</h4>

    <a href="#" class="m-1 p-1 badge badge-primary">Primary</a>
    <a href="#" class="m-1 p-1 badge badge-secondary">Secondary</a>
    <a href="#" class="m-1 p-1 badge badge-success">Success</a>
    <a href="#" class="m-1 p-1 badge badge-danger">Danger</a>
    <a href="#" class="m-1 p-1 badge badge-info">Info</a>
    <a href="#" class="m-1 p-1 badge badge-warning">Warning</a>
    <a href="#" class="m-1 p-1 badge badge-light">Light</a>
    <a href="#" class="m-1 p-1 badge badge-dark">Dark</a>
</div>

<div class="p-3">
    <h4>Best Members</h4>
    <ol class="list-unstyled mb-0">
        <li><a href="#">Barny Stinson</a></li>
        <li><a href="#">Dr. House</a></li>
        <li><a href="#">Mr. Freeman</a></li>
        <li><a href="#">Ostap Bender</a></li>
        <li><a href="#">Queen Elizabeth</a></li>
    </ol>
</div>
